/* Style : Common */
body {
  font-family: sans-serif;
  text-align: center;
  padding: 1em;
  background: #fff8e1;
}

h1 {
  font-size: 1.6em;
  margin-bottom: 0.2em;
}

#version {
  font-size: 0.8em;
  color: #666;
  margin-bottom: 0.5em;
}

#timerDisplay {
  font-size: 6em;
  margin: 0.2em 0;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5em;
  margin-top: 1em;
}

/* Style for buttons */
button {
  width: 150px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4em;
  padding: 0;
  box-sizing: border-box;
  border: none;
  border-radius: 8px;
  text-align: center;
  line-height: 1;
}

button.hajime {
  background-color: #fdd835;
  color: black;
}

button.shuryo {
  background-color: black;
  color: white;
}

button.active {
  outline: 3px solid #2196f3;
  box-shadow: 0 0 5px #2196f3;
}

button.haneya_wide {
  width: 306px;
  height: 100px;
}

button.haneya_red {
  background-color: red;
  color: white;
}

button.haneya_grey {
  background-color: #838383;
  color: white;
}

footer {
  margin-top: 1.5em;
  font-size: 0.75em;
  color: #555;
}
