body {
  font-family: sans-serif;
  text-align: center;
  padding: 1em;
  background: #fff8e1;
}

h1 {
  font-size: 1.6em;
  margin-bottom: 0.2em;
}

#version {
  font-size: 0.8em;
  color: #666;
  margin-bottom: 0.5em;
}

#timerDisplay {
  font-size: 6em;
  margin: 0.2em 0;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5em;
  margin-top: 1em;
}

button {
  width: 150px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4em;
  padding: 0;
  box-sizing: border-box;
  border: none;
  border-radius: 8px;
  color: white;
  text-align: center;
  line-height: 1;
}

/* button.pause {
  width: 153px;
  height: 60px;
  background-color: #c6c6c9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4em;
  padding: 0;
  box-sizing: border-box;
  border: none;
  border-radius: 8px;
  color: white;
  text-align: center;
  line-height: 1;
} */

/* button.adjtime {
  width: 314px;
  height: 60px;
  background-color: #3fdd3f;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4em;
  padding: 0;
  box-sizing: border-box;
  border: none;
  border-radius: 8px;
  color: black;
  text-align: center;
  line-height: 1;
} */

button.agree {
  background-color: #3fdd3f;
  height: 60px;
}

button.yellow {
  background-color: #fdd835;
  color: black;
}

button.red {
  background-color: #ff7b78;
  width: 306px;
  animation: none;
}
button.redactive {
  background-color: #f70400;
}


button.black {
  background-color: #424242;
}

button.active {
  outline: 3px solid #2196f3;
  box-shadow: 0 0 5px #2196f3;
}

button.enabled {
  background-color: #3f4add;
}

button.blink {
  animation:blink 3s infinite alternate ease-in-out;
}

@keyframes blink {
  0%   { opacity: 1; } 
  50%   { opacity: 0; } 
  100% { opacity: 1; }
}

footer {
  margin-top: 1.5em;
  font-size: 0.75em;
  color: #555;
}
